@import "../../styles/index.scss";

.App {
    @include borders (#DDD, #7B7B7B);
    background-color: #a2a2a2;    
    padding: 16px 16px 16px 16px;
    transform: translateY(-45px);
}

.Header {
    @include borders (#7B7B7B, #DDD);
    display: flex;
    background: linear-gradient(to top, #252525, #757575);    
    padding: 10px 12px;
    justify-content: space-between;
    align-items: center;
}

.Body {
    @include borders (#7B7B7B, #DDD);
    margin-top: 10px;
    background-color: #C0C0C0;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(9, 1fr);
}

.face {
    @include borders (#DDD, #7B7B7B);
    @include buttons;    
    background-color: #a2a2a2;    
    width: 52px;
    height: 52px;
    font-size: 35px;
    text-align: center;
    cursor: pointer;
}

#monkeez {
    @include borders (#7B7B7B, #DDD);  
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background: black;    
    // background-color: darkblue;
    color: #FFF;
    padding: 10px 10px;
    margin-bottom: 10px;
}