@import "./styles/index.scss";

* {
  box-sizing: border-box;

}

body {
  margin: 0;
  background-color: lightgray;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transform: translateY(45px);
  background-image: linear-gradient(45deg, #222 25%, transparent 25%), linear-gradient(-45deg, #222 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #222 75%), linear-gradient(-45deg, transparent 75%, #222 75%);
  background-size: 150px 150px;
  background-position: 0 0, 0 75px, 75px -75px, -75px 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gorillaz {
  @include borders (#DDD, #7B7B7B);  
  font-weight: bold;
  color: #FFF;
  background-color: #a2a2a2;
  padding: 14px;
  text-align: center;
  font-size: 18px;
  transform: translate(-2px, -120px);
  position: absolute;
}

.monkeez {
  @include borders (#7B7B7B, #DDD);  
  background-color: #252525;
  padding: 10px 10px;
}
